.container {
    text-align:center;
    color:white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 40px;
    padding:30px;
    
}
.container>div {
    padding:10px;
}
body {
    background-image: url("../images/wall.jpg");
    height: auto;
    width:100%;
}
#heading {
    font-size:60px;
    text-decoration: underline;
}
#score {
    font-size:50px;
    text-decoration: underline;
}

#wins, #loses, #guessesleft {
    font-weight:bolder;
}